{% extends "base_st.html" %}

{% block content %}

<br><hr/>
<h1>All students</h1>
<hr/><br>


<table>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Specialization</th>
        <th>Birthday</th>
        <th>Address</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>    
{% for s in showstudent %}
    <tr>
        <td>{{ s.id }}</td>
        <td>{{ s.f_name }}</td>
        <td>{{ s.l_name }}</td>
        <td>{{ s.specialization }}</td>
        <td>{{ s.birthDate }}</td>
        <td>{{ s.address }}</td>
        <td><a href="updatestudent/{{s.id}}"> Edit </a></td>
        <td><a href="DeleteStudent/{{s.id}}" style="color:red;" onclick ="return confirm('Are you sure you want to delete this student ? ') " > Delete </a></td>
    </tr>
{% endfor %}

</table>
{% endblock  %}
