<footer class="bg-light text-center text-lg-start"><br>
            
                <div>
                <hr/>
                    <h4 class="text-uppercase">Contact us</h4>
                <hr/>
                    <p><b> E-mail :</b> mostafa2310551@gmail.com</p>  
                    <p><b> Whatsapp :</b> 01067859354</p>
                    <p><b> Instagram :</b> mostafa_ela3sr</p>
                    <p><b>  Facebook :</b> Mostafa elaaser</p>
                    <p><b> Twitter :</b> mostafa_ela3sr</p>
                </div>
                
                
            <!-- Copyright -->
            <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                © 2022 Copyright: Mostafa Rabie Alaasr
            </div>
            <!-- Copyright -->
</footer>